.my-wave-effect {
  position: relative;
  // display: inline-block;
  overflow: hidden;
}

.my-wave-effect .ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation-name: ripple;
  animation-timing-function: linear;
  animation-duration: 600ms;
  background-color: rgba(255, 255, 255, 0.3);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
