$shadow-light: 1px 1px 3px 0 color(gray, 100);
$shadow-base: 1px 1px 3px 0 color(gray, 200);
$shadow-dark: 1px 1px 3px 0 color(gray, 400);

$border-thin: 1px solid color(primary, 600);
$border-base: 2px solid color(primary, 600);
$border-thick: 4px solid color(primary, 600);

$duration-base: 300ms;
$duration-fast: 150ms;
$duration-slow: 500ms;
$duration-slower: 1000ms;
