%blurry-bg {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* stylelint-enable */
  background-color: rgb(var(--v-theme-surface));
}
