@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6mwpyc');
  src:  url('fonts/icomoon.eot?6mwpyc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6mwpyc') format('truetype'),
    url('fonts/icomoon.woff?6mwpyc') format('woff'),
    url('fonts/icomoon.svg?6mwpyc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-list:before {
  content: "\e921";
}
.icon-attachment:before {
  content: "\e919";
}
.icon-give-feedback:before {
  content: "\e91a";
}
.icon-like:before {
  content: "\e91b";
}
.icon-link-issues:before {
  content: "\e91c";
}
.icon-share:before {
  content: "\e91d";
}
.icon-sort-down:before {
  content: "\e91e";
}
.icon-sort-up:before {
  content: "\e91f";
}
.icon-subtask:before {
  content: "\e920";
}
.icon-add-item:before {
  content: "\e900";
}
.icon-archive:before {
  content: "\e901";
}
.icon-backlog:before {
  content: "\e902";
}
.icon-bell:before {
  content: "\e903";
}
.icon-board:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-code:before {
  content: "\e906";
}
.icon-code-block:before {
  content: "\e907";
}
.icon-comment:before {
  content: "\e908";
}
.icon-default:before {
  content: "\e909";
}
.icon-eclipse-h:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e90b";
}
.icon-eye:before {
  content: "\e90c";
}
.icon-left-paragraph:before {
  content: "\e90d";
}
.icon-link:before {
  content: "\e90e";
}
.icon-pages:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-question:before {
  content: "\e911";
}
.icon-quote:before {
  content: "\e912";
}
.icon-roadmap:before {
  content: "\e913";
}
.icon-settings:before {
  content: "\e915";
}
.icon-star:before {
  content: "\e916";
}
.icon-time:before {
  content: "\e917";
}
.icon-search:before {
  content: "\f002";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star1:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-download:before {
  content: "\f019";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
